# Config for running the InferenceRecipe in generate.py to generate output from an LLM
#
# To launch, run the following command from root torchtune directory:
#    tune run generate --config generation

# Model arguments
# model:
#   _component_: torchtune.models.llama3.lora_llama3_8b
#   lora_attn_modules: ['q_proj', 'v_proj']
#   apply_lora_to_mlp: True
#   apply_lora_to_output: False
#   lora_rank: 32
#   lora_alpha: 16

# Model Arguments
model:
  _component_: torchtune.models.gemma.gemma_2b

checkpointer:
  _component_: torchtune.utils.FullModelHFCheckpointer
  checkpoint_dir: /raid/lingo/akyurek/git/arc/experiments/withcode_gemma/model_weights/
  checkpoint_files: [
    hf_model_0001_0.pt,
    hf_model_0002_0.pt,
  ]
  # adapter_checkpoint: adapter_0.pt
  output_dir: /raid/lingo/akyurek/git/arc/experiments/withcode_gemma/inference/
  model_type: LLAMA3


# checkpointer_to_save:
#   _component_: torchtune.utils.FullModelHFCheckpointer
#   checkpoint_dir: /raid/lingo/models/Meta-Llama-3-8B-Instruct
#   checkpoint_files: [
#     model-00001-of-00004.safetensors,
#     model-00002-of-00004.safetensors,
#     model-00003-of-00004.safetensors,
#     model-00004-of-00004.safetensors,
#   ]
#   # adapter_checkpoint: adapter_0.pt
#   output_dir: /raid/lingo/akyurek/git/arc/hf_model/
#   model_type: LLAMA3


# resume_from_checkpoint: True

device: cuda
dtype: bf16

seed: 1234

output_path: /raid/lingo/akyurek/git/arc/experiments/withcode_gemma/results_epoch_0/

# Tokenizer arguments
# Tokenizer
tokenizer:
  _component_: torchtune.models.gemma.gemma_tokenizer
  path: /raid/lingo/models/gemma-2b-it/tokenizer.model

dataset:
  _component_: torchtune.datasets.arc_dataset
  source: /raid/lingo/akyurek/git/arc/data/tasks/w_color_N40_rand_transformation_black_all/
  train_on_input: False
  split: test


# Generation arguments; defaults taken from gpt-fast
prompt: "<|start_header_id|>user<|end_header_id|>\n\nHere is a IQ test with grids of numbers.\n\n    You need to understand what tranformation has been applied to the input grid to get the output grid in the below example.\n\n    Later you will be given a test grid and you need to apply the same transformation to get the answer.\n\n    ==TRAIN==\nINPUT:\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0\n\nOUTPUT:\n2 0 0 2 0 2 2 0 2 0 2 0 2 2 0 2\n0 0 2 2 0 0 2 2 2 2 2 2 0 0 2 0\n2 2 2 2 2 0 2 2 2 2 0 2 0 2 0 0\n2 2 2 0 2 0 2 2 2 2 0 2 0 0 0 0\n0 2 0 2 2 0 2 0 2 2 2 0 2 0 0 2\n0 2 2 2 2 2 2 2 2 2 2 2 2 2 0 2\n2 2 0 0 2 0 0 2 0 2 2 2 0 2 0 2\n0 0 2 0 2 0 2 2 0 2 2 0 2 2 2 2\n0 2 2 2 0 2 2 0 2 2 0 0 0 2 2 2\n0 2 2 2 2 0 2 2 0 2 2 2 0 2 2 2\n\nINPUT:\n0 1 1 0 1 1 1 1\n1 0 0 0 0 1 1 0\n1 1 0 1 1 0 1 1\n1 0 0 0 1 1 1 0\n0 1 1 1 1 0 0 0\n1 1 1 1 1 0 0 0\n1 1 1 1 1 1 0 1\n1 1 1 1 1 0 1 1\n1 1 1 0 0 1 1 0\n1 1 1 1 1 0 1 1\n1 1 1 1 1 0 1 1\n1 1 0 1 1 1 1 1\n1 1 0 1 1 0 1 0\n1 1 1 1 1 1 0 0\n0 0 0 1 1 1 1 1\n1 1 1 1 1 1 0 1\n1 0 1 1 1 1 1 1\n1 1 0 1 0 0 0 0\n1 1 1 1 0 0 0 1\n0 1 1 1 0 0 0 1\n1 0 0 0 1 0 1 1\n0 1 1 0 0 0 1 0\n0 1 1 0 1 0 1 1\n0 1 1 0 0 1 1 0\n\nOUTPUT:\n0 3 3 0 3 3 3 3\n3 0 0 0 0 3 3 0\n3 3 0 3 3 0 3 3\n3 0 0 0 3 3 3 0\n0 3 3 3 3 0 0 0\n3 3 3 3 3 0 0 0\n3 3 3 3 3 3 0 3\n3 3 3 3 3 0 3 3\n3 3 3 0 0 3 3 0\n3 3 3 3 3 0 3 3\n3 3 3 3 3 0 3 3\n3 3 0 3 3 3 3 3\n3 3 0 3 3 0 3 0\n3 3 3 3 3 3 0 0\n0 0 0 3 3 3 3 3\n3 3 3 3 3 3 0 3\n3 0 3 3 3 3 3 3\n3 3 0 3 0 0 0 0\n3 3 3 3 0 0 0 3\n0 3 3 3 0 0 0 3\n3 0 0 0 3 0 3 3\n0 3 3 0 0 0 3 0\n0 3 3 0 3 0 3 3\n0 3 3 0 0 3 3 0\n\nINPUT:\n0 0 0 3 0 0 0 0 3 0 0\n0 0 0 0 0 0 0 0 0 0 0\n0 0 0 0 0 0 3 0 0 0 0\n3 0 0 3 0 0 0 0 0 0 0\n3 0 0 0 0 0 3 0 0 0 0\n0 3 0 0 0 0 0 0 0 0 0\n\nOUTPUT:\n5 5 5 3 5 5 5 5 3 5 5\n5 5 5 5 5 5 5 5 5 5 5\n5 5 5 5 5 5 3 5 5 5 5\n3 5 5 3 5 5 5 5 5 5 5\n3 5 5 5 5 5 3 5 5 5 5\n5 3 5 5 5 5 5 5 5 5 5\n\nINPUT:\n7 0 7 7 0 0 7 7 7 7 0 0 0 7 7 7 0 7 0 0 0 7 7 0 7 0\n0 0 0 0 0 0 7 0 7 0 0 0 0 7 0 7 0 0 7 0 0 0 0 0 0 7\n0 7 0 7 0 7 7 7 7 7 0 0 7 0 0 7 0 0 0 0 7 7 0 0 0 7\n7 7 0 0 0 7 0 7 0 7 7 7 7 0 7 0 0 0 7 0 7 7 0 7 0 0\n7 0 0 0 7 0 7 0 7 0 7 7 7 7 0 0 0 0 7 7 7 7 0 0 7 7\n0 0 7 7 0 7 7 0 7 0 0 7 7 7 0 7 0 7 0 7 0 0 0 7 0 7\n7 0 0 7 0 0 0 0 7 7 0 0 0 7 0 0 0 7 0 7 0 0 0 7 0 0\n0 7 0 0 7 0 0 7 0 0 7 7 0 0 0 7 0 0 0 0 0 7 7 7 0 7\n0 0 7 7 0 7 0 0 0 0 0 0 0 7 7 0 0 0 0 0 7 0 7 7 0 0\n0 7 7 0 7 0 7 0 0 7 0 0 7 7 0 7 7 7 0 0 0 0 0 7 0 7\n7 7 0 7 0 0 7 0 7 0 0 0 7 0 7 7 7 7 7 0 7 7 7 0 0 0\n0 0 7 0 0 0 0 0 7 7 0 0 0 7 7 0 0 0 0 7 0 0 7 0 0 0\n0 7 0 0 0 7 7 7 0 0 0 7 7 7 7 0 0 0 7 7 0 0 7 0 7 0\n0 0 0 0 0 7 0 0 0 0 7 0 0 0 0 0 0 0 7 0 0 0 0 0 7 7\n0 7 0 0 7 7 0 0 0 7 0 0 0 7 0 0 0 0 0 0 0 0 0 0 0 0\n7 0 0 7 0 0 7 0 0 0 0 0 0 0 0 0 0 0 0 7 0 7 7 0 0 0\n7 7 0 7 0 0 7 0 0 0 0 0 7 0 0 7 0 0 0 7 7 7 0 0 7 7\n\nOUTPUT:\n1 0 1 1 0 0 1 1 1 1 0 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0\n0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1\n0 1 0 1 0 1 1 1 1 1 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1\n1 1 0 0 0 1 0 1 0 1 1 1 1 0 1 0 0 0 1 0 1 1 0 1 0 0\n1 0 0 0 1 0 1 0 1 0 1 1 1 1 0 0 0 0 1 1 1 1 0 0 1 1\n0 0 1 1 0 1 1 0 1 0 0 1 1 1 0 1 0 1 0 1 0 0 0 1 0 1\n1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0\n0 1 0 0 1 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 0 1\n0 0 1 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 0\n0 1 1 0 1 0 1 0 0 1 0 0 1 1 0 1 1 1 0 0 0 0 0 1 0 1\n1 1 0 1 0 0 1 0 1 0 0 0 1 0 1 1 1 1 1 0 1 1 1 0 0 0\n0 0 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0\n0 1 0 0 0 1 1 1 0 0 0 1 1 1 1 0 0 0 1 1 0 0 1 0 1 0\n0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1\n0 1 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0\n1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0\n1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 1\n\n==TEST==\nINPUT:\n0 0 0 6 0 0 0 6\n0 6 0 0 0 0 0 0\n0 6 0 0 0 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 6 0 0 6\n0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 6 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 6 0 0 0\n0 0 0 0 0 0 0 0\n0 0 0 0 0 6 0 0\n0 6 0 0 0 6 0 0\n0 0 0 0 6 0 0 6\n6 0 0 0 0 0 0 6<|eot_id|><|start_header_id|>assistant<|end_header_id|>\n\n"
max_new_tokens: 1024
temperature: 0.15 # 0.8 and 0.6 are popular values to try
top_k: 200

quantizer: null
