# Config for multi-device with lora_finetune_distributed.py or single-device LoRA
# finetuning with lora_finetune_single_device.py using a Llama2 13B model
#
# This config assumes that you've run the following command before launching:
# $ tune download meta-llama/Llama-2-13b \
#       --hf-token <HF_TOKEN> \
#       --output-dir /tmp/llama2
#
# To launch on 4 devices, run the following command from root:
# $ tune run --nproc_per_node 4 lora_finetune_distributed \
#       --config llama2/13B_lora
#
# To launch on a single device, run the following command:
# $ tune run lora_finetune_single_device \
#       --config llama2/13B_lora
#
# You can add specific overrides through the command line. For example
# to override the checkpointer directory while launching training:
# $ tune run --nproc_per_node 4 lora_finetune_distributed \
#       --config llama2/13B_lora \
#       checkpointer.checkpoint_dir=<YOUR_CHECKPOINT_DIR>


# Model Arguments
model:
  _component_: torchtune.models.llama2.lora_llama2_13b
  lora_attn_modules: ['q_proj', 'v_proj', 'k_proj']
  apply_lora_to_mlp: True
  apply_lora_to_output: True
  lora_rank: 8
  lora_alpha: 16

checkpointer:
  _component_: torchtune.utils.FullModelHFCheckpointer
  checkpoint_dir: /tmp/llama2-13b-hf/
  checkpoint_files: [
    pytorch_model-00001-of-00003.bin,
    pytorch_model-00002-of-00003.bin,
    pytorch_model-00003-of-00003.bin
  ]
  adapter_checkpoint: null
  recipe_checkpoint: null
  output_dir: /tmp/llama2-13b-hf/
  model_type: LLAMA2
resume_from_checkpoint: False

# Tokenizer
tokenizer:
  _component_: torchtune.models.llama2.llama2_tokenizer
  path: /tmp/llama2/tokenizer.model

# Dataset and Sampler
dataset:
  _component_: torchtune.datasets.alpaca_cleaned_dataset
  train_on_input: True
seed: null
shuffle: True
batch_size: 32

# Optimizer and Scheduler
optimizer:
  _component_: torch.optim.AdamW
  weight_decay: 0.01
  lr: 2e-4
lr_scheduler:
  _component_: torchtune.modules.get_cosine_schedule_with_warmup
  num_warmup_steps: 100

loss:
  _component_: torch.nn.CrossEntropyLoss

# Training
epochs: 1
max_steps_per_epoch: null

# Logging
output_dir: /tmp/lora_finetune_output
metric_logger:
  _component_: torchtune.utils.metric_logging.DiskLogger
  log_dir: ${output_dir}
log_every_n_steps: null

# Environment
device: cuda
dtype: bf16
enable_activation_checkpointing: False
