name: Build Docs

on:
  push:
    branches: [ main ]
  pull_request:

defaults:
  run:
    shell: bash -l -eo pipefail {0}

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup conda env
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniconda-version: "latest"
          activate-environment: test
          python-version: ${{ matrix.python-version }}
      - name: Update pip
        run: python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          conda install pytorch
          python -m pip install -r requirements.txt
          python -m pip install -e .
          cd docs
          python -m pip install -r requirements.txt
      - name: Build docs
        run: |
          cd docs
          make html
